@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
.ck-content img{
    max-width: 100%;
    height: auto;
}
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

.bodyAdmin {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    /* background-color: black; */

}
.bg-light{
    background-color: white !important;
}

.bodyAdmin a {
    text-decoration: none
}

.headerAdmin {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
    /* background-color: #211B30; */
}

.bodyAdmin .header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.bodyAdmin .header_img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.bodyAdmin .header_img img {
    width: 100%;
    object-fit: cover;
}

.bodyAdmin .l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #211B30;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.bodyAdmin .nav-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.bodyAdmin .nav_logo,
.bodyAdmin .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    font-weight: 700;
    padding: .5rem 0 .5rem 1.5rem
}

.bodyAdmin .nav_logo {
    margin-bottom: 1.5rem
}

.bodyAdmin .nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.bodyAdmin .nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.bodyAdmin .nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0.7rem;
    transition: .3s
}
.bodyAdmin .nav_link i{
    width: 20px;
    height: 20px;
    text-align: center;
}

.bodyAdmin .nav_link:hover {
    color: var(--white-color)
}

.bodyAdmin .nav_icon {
    font-size: 1.25rem
}

.bodyAdmin .l-navbar.show {
    left: 0
}

/* .bodyAdmin .body-pd {
    padding-left: calc(var(--nav-width) + 11rem)
} */
.l-navbar .img-logo{
    display: none;
}
.l-navbar.show  .nav_logo-icon{
    display: none;
}
.l-navbar.show .img-logo{
    display: block;
}
.bodyAdmin .nav_link.active {
    color: white;
}
.bodyAdmin   .body-pd {
    padding-left: 30px;
    /* padding-left: calc(var(--nav-width) + 188px); */
    transition: .5s;
    margin-left: calc(var(--nav-width) + 65px);
}
.bodyAdmin .nav_link.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.bodyAdmin .height-100 {
    /* height: 100vh; */
    padding-top: 1em;
    transition: .5s;
}
.admin-contents{
    padding: 1em ;
}
@media screen and (min-width: 768px) {
    .bodyAdmin {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 1rem)
    }

    .headerAdmin {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .bodyAdmin  .header_img {
        width: 40px;
        height: 40px
    }

    .bodyAdmin  .header_img img {
        width: 45px
    }

    .bodyAdmin .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .bodyAdmin .l-navbar.show {
        width: calc(var(--nav-width) + 170px)
    }


}
.admin-contents .pagination .next a ,.admin-contents .pagination .previous a{
    background-color: white;
    color: #211B30;
    font-size: 16px;
}
.admin-contents .pagination li a{
    font-size: 15px;
    padding: 8px 15px;
    background-color: #dcdcdc;
    border-radius: 50%;
}
.admin-contents .pagination li{
    padding: 0;
    background-color: transparent;
}
.admin-contents .pagination li.active a{
    background-color: #211B30;
    color: white;
}
.admin-contents .pagination-contents{
    margin-top: 1.5em;
}
/* users */
.admin-contents .search{
    position: relative;
}
.admin-contents .search input{
    outline: none;
}
.admin-contents .search input:focus{
    box-shadow: none;
}
.admin-contents .search button{
    position: absolute;
    right: 0;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4339B4;
    outline: none;
    margin-right: 0.8em;
    padding: 6.5px 10px;
    top: 0;
}
.admin-contents .btn-primary{
    font-size: 14px;
}
.btn-add{
    background-color: #4339B4;
    color: white;
    border: none;
    outline: none;
    padding: 7px 12px ;
    border-radius: 6px;
}
.btn-add:hover{
    background-color: #4723D9;

}
.h3-admin{
    font-weight: 700;

}
.table th{
    font-weight: 700;

}
.table  tr:first-child{
    /* color: white; */

    /* background-color: #211B30; */
}
.table  tr:first-child th{
    background-color: #eaeaea;
    color: #211B30;
    /* padding-left: 1em; */
    padding: 10px 0;
}
.table tbody td{
    padding-left: 0;
}
.table tbody td:last-child i:first-child{
    padding-right: 10px;
}
.table tbody i{
    cursor: pointer;
}

.table tbody i:hover{
    color: #4339B4;
}

/* ------------thêm tin mới---------------- */
.addNew-container{
    height: 100%;
}
.addNew-container .form-group{
    width: 48%;
    margin-bottom: 1em  ;
}
.addNew-container .form-group >label{
   font-size: 1.2em;
    margin-bottom: 5px;
}
.addNew-container .form-group .form-control{
    padding: 0.5rem 0.75rem;

 
 }
 .addNew-container .form-group .form-control input[type='radio']{
    padding: 1em;
    margin:  0 10px 0 20px ;
 }
 
.addNew-container  .addNew-contents{
    width: 90%;
    margin: 0 auto;
}
.addNew-container .ql-editor{
    min-height: 300px;
}


/* -----------ADD trips------- */
.stations{
    position: relative;
}
.but-closeX{
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    outline: none;
    border-radius: 50%;
    color: #777777;
    /* background-color: transparent; */
}
.but-addStation{
    margin: 0 auto;
    text-align: center;
}
.but-addStation button{
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #4723D9;
}
.modal.show{
    width: 100%;
}
.form-add-start-end{
    margin: 1em 0;
    padding: 1em 10px ;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* -----------------cars------------- */
.carAdmin-container .img-car img{
    width: 100px;
    height: 100%;
    object-fit: cover;
}
.modal-rateCar .col-3{
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.modal-rateCar img{
    height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.modal-rateCar .item-rate{
    padding: 10px 0;
    border-bottom:1px solid gainsboro ;
}
.modal-rateCar .item-rate:last-child{
 
    border-bottom:none ;
}
.modal-dialog-rate{
    max-width: 750px;

}
.modal-rateCar{
    overflow-y: scroll;
    height:500px ; 
}
.tab-contents-car .hover-chair{
    display: block;
    z-index: 10;
    font-size: 12px;
    top: -32px;
    left: 0;
    opacity: 0;
    /* display: none; */
}
.tab-contents-car .chair-item-go:hover .hover-chair{
   opacity: 1;
}

.tab-contents-car .hover-chair table th{
    padding: 0 ;
}
.tab-contents-car .hover-chair table th:first-child{
    padding-left: 5px;
}
.tab-contents-car .hover-chair table th i{
    background-color: transparent;
}
/* ------------------stations----------- */
.addNew-stations .addNew-contents {
    width: 80%;
    margin: 0 auto;
}
.addNew-stations .form-group {
    width: 100%;
}

/*---------- tickets ---------- */
.modal-tickets .row .col.text-start{
    font-weight:  700;
}

/* -------comments ---------------*/
.td-content-cmt{
    max-width: 500px;
}
.content-summary{
    width: 100%;
    height: 150px;
    overflow-y: auto;
}
.td-content-summary{
    max-width: 400px;
}
.content-cmt{
    width: 100%;
    height: 70px;
    overflow-y: auto;
}
.td-content-news{
    max-width: 850px;
}
.content-news{
    width: 100%;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;

    /* overflow: hidden; */
    
}
.content-news img{
    max-width: 100%;
}
.td-content-title{
    max-width: 250px;
}

.commentAdmin-container .spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
}
.commentAdmin-container .loading_cmt{
    padding: 5px 7px;
    border: none;
    outline: none;
    font-size: 14px;
}