@import url(./global.css);
.routes-bus-container.container{
    max-width: 1440px;
    padding-top: 1em;;
}

.routes-bus-container h5{
    font-size:22px ;
font-weight: 800;
    color: var(--colorFont);
}
.form-group .form-control{
    border: 1px solid #AAAAAA;
}
.routes-bus-container .date_go{
    font-size:20px ;
font-weight: 700;

}
.contents-items-choose{
    width: 90%;
    margin: 0 auto;
}
.contents-items-choose.container{
    max-width: 1440px;

}
.contents-items-choose .items-FloorDown .row,  .contents-items-choose .items-FloorUp .row{
    width: 90%;
    margin: 0 auto;
}
.items-content-floor .items-content-floor-row{
    width: 33.3%;
}
.items-content-floor .items-content-floor-row.items-content-floor-double{
    width: 50%;
}
.items-content-floor .items-content-floor-row.items-content-floor-chair{
    width: 50%;
}
/* .items-content-floor .items-content-floor-row:first-child .d-flex:last-child {
    width: 50%;
    text-align: right;
} */
.items-content-floor-row .name-chair{
    left: 0;
    right: 0;
    text-align: center;
}
/* .selected-span , .selected-path{
    color: var(--colorMain);
    fill: var(--colorMain);
} */
.available-seat path, .available-seat .name-chair{
    color: #A1CCD1;
    fill: #A1CCD1;
    cursor: pointer;
}
.Chosen-seat path, .Chosen-seat .name-chair{
    color: #AEACAC;
    fill: #AEACAC;
    fill-opacity:0.8 ;
    cursor:no-drop;
}
.available-seat .selected-span, .available-seat .selected-path{
    color: var(--colorMain);
    fill: var(--colorMain);
}
.contents-items-choose h5{
font-weight: 700;
    color: var(--colorFont);
    font-size: 1.1em;
}
.contents-items-choose span b{
    font-size:0.9em;

}
.contents-items-choose {
   font-weight: 500;
}

.contents-items-choose h6{
font-weight: 700;
    color: var(--colorMain);
    font-size: 0.8em;
}
.contents-items-choose > .row >.col-md-8{
    /* padding: 1em 2em; */

}
.items-Floor-des{
    font-size: 0.8em;
}
.contents-items-choose .form-group label{
    font-size: 0.9em;
font-weight: 700;
    color: var(--colorFont);
}
.contents-items-choose .form-group .form-control{
    font-size: 0.9em;

}
.contents-items-choose .items-contents .border-bt{
    border-bottom: 1px solid #C5C1C1;
    width: 100%;
    margin: 10px auto;
}

.contents-items-choose .pickUp-dropOff-location-contents .form-group{
    width: 50%;
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group >div{
    width: 100%;
    display: block;
    position: relative !important;
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group >div >div{
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    min-height: 150px;
    z-index: 10;
    min-width: 284px !important;
    width: 90%  !important;
    /* max-width: 400px; */
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group .option-select-PD{
    width: 100%;

}
.form-group .option-select-PD .small-address{
    font-size: 11.5px;
    display: -webkit-box;
    line-height: 1.3;
    -webkit-line-clamp: 2;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.form-group .option-select-PD .medium-name{
    font-size: 14px;
    font-weight: 700;
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group label{
    width: 100%;
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group .form-control{
    width: 90%;
}
.Client-information-contents .form-control{
    width: 90%;
}
.btn-handle{
font-weight: 700;
    font-size: 1em;
}
.btn-handle .btn:first-child a{
    text-decoration: none;
    color: var(--colorMain);

}
.btn-handle .btn a{
    text-decoration: none;
    color: white;

}
.btn-handle .btn:last-child{
    background-color: var(--colorMain);
    color: white;
    font-size: 0.9em;
    padding: 5px 25px;
}
.btn-handle .btn:first-child{
    background-color: white;
    color: var(--colorRed);
    padding: 5px 40px;
    font-size: 0.9em;
    border: 1px solid #C5C1C1;
}
.items-terms-notes h5{
    color: var(--colorMain);
}
.items-terms-notes .mt-4{
    font-size: 0.9em;
}
.infor_bus_router{
    width: 75%;
    background-color: white;
    z-index: 1;
    top: 3em;
    /* display: none; */
    left: 23%;
    border-radius: 10px;
    border: 1px solid #C5C1C1;
    max-height: 550px;
    overflow: hidden;
}
.infor_bus_router .row-mobile {
    /* height: 25rem; */
    white-space: nowrap !important;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .infor_bus_router .row-mobile::-webkit-scrollbar {
    background-color: #eaeaea;
    /* width: 2px; */
  height: 3px;
  }
  
  .infor_bus_router .row-mobile::-webkit-scrollbar-thumb {
    background-color: var(--colorPrimary);
  }
  .infor_bus_router .col-mobile {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: block;
    /* width: 100%; */
    /* height: 25rem; */
    overflow: hidden;
    border-radius: 2px;
    white-space: normal;
  }
.infor_bus_router.active-busInfor{
    /* display: block; */

}
.comment-contents{

}
.all-cmt-items{
    height: 400px;
    overflow-y: auto;
}
.all-cmt-items::-webkit-scrollbar {
    width: 5px;
    background-color: #cccccc;
    border-radius: 5px;
  
    
  }
  
  .all-cmt-items::-webkit-scrollbar-thumb {
    background-color: var(--colorMain);
    border-radius: 5px;
  }
.all-cmt-items .items-cmt{
    padding: 10px 0;
    border-bottom: 1px dashed #C5C1C1;

}
.all-cmt-items .items-cmt:last-child{
    border-bottom: none;
}
.sum-star{
    border-bottom: 1px solid gainsboro;
}
.btn-star-xe{
    padding: 5px 15px;
    background-color: var(--colorMain);
    color: white;
    margin-right: 10px;

}
.infor_bus_router .row{
    max-height: 430px;

}

.infor_bus_router .row .items_infor_bus_router ul li{
    text-align: justify;
    font-size: 0.9em;
    list-style: initial;
   font-weight: 500;
}
.infor_bus_router .nav-link{
    color: black;
    font-size: 14px;
    font-weight: 700
}
.infor_bus_router .nav-link.active{
    color: var(--colorMain);
}
.infor-bus-content::-webkit-scrollbar {
    width: 5px;
    background-color: #cccccc;
    border-radius: 5px;
  
    
  }
  
  .infor-bus-content::-webkit-scrollbar-thumb {
    background-color: var(--colorMain);
    border-radius: 5px;
  }
  .utilities-contents  .items-utilities{
    background-color: antiquewhite;
    padding: 10px;
    font-size: 14px;
  }
  .utilities-contents  .items-utilities:last-child{
    background-color: transparent;
  }

.utilities-contents  .items-utilities i{
    padding-right: 10px;
    color: var(--colorMain);
  }
  .items-utilities .text-main-item{
    font-weight: 700;
  }
.steps-booking-contents{
      background-color: var(--colorPrimary);
      /* position: fixed; */
      display: none;
}
.steps-booking-contents .tabs-step{
    /* background-color: var(--colorMain); */
    color: white;
    /* border-radius: 100%; */

}

.steps-booking-contents .number-step{
    left: 7px;
    position: absolute;
    top: -2px;
   color: white;
   font-size: 13px;
    
}
.steps-booking-contents .border-step{
    border-bottom: 1px solid #eaeaea;
}
.contents-items-choose .chair-chosen{
    display: none;
}
.button_conti-step {
    margin-top: 2.5em;
    display:none ;
}
.steps-booking-contents{
    font-size: 0.9em;
font-weight: 700;
}
.steps-booking-contents .tabs-step{
    padding: 0 2px;
}
.steps-booking-contents .active-step svg circle {
    fill: var(--colorMain)
    
}
.steps-booking-contents .active-step .number-step {
    color: white;
}
.contents-items-choose .infor-bus-contents .card-body .row {
    font-size: 0.85em;
}
.contents-items-choose .infor-bus-contents .card-body .row .text-end.text-danger {
    color: var(--colorMain) !important;
}

.schedule-tour {
    margin-left: 2.2em;
    border-left: 3px solid rgb(230, 230, 230);
    font-weight: 500;
}
.schedule-tour  .schedule-item{
    position: relative;
    margin-bottom: 1em;
}
.schedule-tour  .schedule-item h6{
    font-weight: 700;
    color: black;
}
.schedule-item .step-plan{
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    left: -4em;
    font-size: 0.7em;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    color: white;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
.schedule-item .dot-start{
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    left: -6px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
}
.schedule-item .schedule-item-detail {
    font-size: 0.7em;
}
.schedule-item .schedule-item-detail ul{
    padding-left: 3em !important;
}
.schedule-item .schedule-item-detail ul li{
    padding: 3px 0;
}
.location-container-tabs h5{
    font-size: 14px;
    color: var(--colorMain);
    margin-bottom: 10px;
}
@media only screen and (max-width:1200px) {
    .contents-items-choose .items-FloorDown .row,  .contents-items-choose .items-FloorUp .row{
        width: 100% ;
    }
    .contents-items-choose{
        width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:992px) {
    .contents-items-choose .items-FloorDown .row,  .contents-items-choose .items-FloorUp .row{
        width: 100% ;
    }
    .contents-items-choose .col-md-8{
        width: 100%;

    }
    .contents-items-choose .col-4 {
        width: 100%;
        margin-top: 1.2em;
    }
    .results-search .fixed-item {
        background-color: var(--colorPrimary);
        position: fixed;
        top: 4.2em;
        padding: 1em 0;

    }
    .results-search .title-route-search span{
        display: block;
        text-align: center;
    }
    .results-search .fixed-item .title-route-search{
        margin: 0 !important;
    }
}


@media only screen and (max-width:768px) {
    .contents-items-choose .notifies{
        /* bottom: 3em !important; */
        top: 70% !important;
    }
    .items-contents .width-mobile{
        width: 50%;
        
    }
    .results-search .fixed-item {
        background-color: var(--colorPrimary);
        position: fixed;
        top: 4em;
        padding: 1em 0;

    }
    .items-FloorUp.width-mobile{
        margin-top: 0 !important;
        padding-right: 0;
    }
    .items-FloorDown.width-mobile{
        margin-top: 0 !important;
        padding-right: 0;
    }
    .contents-items-choose .col-4 {
        padding-left: 0;
        margin-top: -1.5em;
    }
    
    .routes-bus-container{
        position: fixed;
        background-color: white;
        z-index: 10;
        left: 0;
        width: 100%;
        top: 3.4em;
    }
    .button_conti-step{
        display: block;
    }
    .steps-booking-contents{
        display: block;
        
  }

  .contents-items-choose .items-choose{
    display: none;
  }
  .contents-items-choose .items-choose.active-step-item{
   
    display: block;
  }
  .border-bt{
    display: none;
  }
  .contents-items-choose{
    /* margin-top: 12.5em; */
  }
  .contents-items-choose > .row >.col-md-8{
    border: none;
  }

  .contents-items-choose .pickUp-dropOff-location-contents .form-group {
    width: 100%;
    margin-bottom: 15px;
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group .form-control {
    width: 100%;
}
.contents-items-choose .items-chair{
    margin-top: 1em;
}
.contents-items-choose .chair-chosen{
    display: block;
}

  .Client-information-contents .col-6{
    width: 100%;
  }
  .Client-information-contents .items-terms-notes{
    margin-top: 1em;
  }
  .Client-information-contents .submit-checkbox{
    align-items: baseline !important ;
  }
  .Client-information-contents .form-control {
    width: 100%;
}
.admin-contents .pagination-contents {
    margin: 0em;
    padding: 1em;
}
.admin-contents .pagination li a {

    font-size: 14px;
    padding: 4px 10px !important;
}
.infor_bus_router {

    top:4em;
}
.steps-booking-contents .tabs-step{
    /* padding: 0 5px; */
    font-size: 12px;
}
.routes-bus-container h5{
    font-size: .9em;
}
.routes-bus-container .date_go{
    font-size: 0.9em;

}
.infor_bus_router .row .items_infor_bus_router ul li{
    font-size: 0.85em;
}
.infor_bus_router h5{
    font-size: 0.95em;
}
.infor_bus_router h6{
    font-size: 0.85em;
}
.contents-items-choose .pickUp-dropOff-location-contents .form-group >div >div{
    width: 100% !important;
}
}

@media only screen and (max-width:560px) {
    .comment-contents  .items-cmt .col-sm-6{
        width: 70%;
        flex: inherit;
    }
    .comment-contents  .items-cmt .col-2{
        width: 100%;
        text-align: left !important;
        flex: inherit;
    }
    .comment-contents   .items-cmt .col.text-end{
        width: 30%;
        font-size: 12px !important;
        flex: inherit;
    }
    .schedule-item .step-plan {
        width: 35px;
        height: 35px;
        left: -3.8em;
        font-size: 0.7em;
        line-height: 35px;
    }
   .car-container-tabs .col-sm-6{
        text-align: center;
    }
    .schedule-tour {
        margin-left: 2em;
    }
    .schedule-item .schedule-item-detail ul {
        padding-left: 1em !important;
    }
    .infor_bus_router {
        width: 85%;
        left: 13%;
    }
    .results-search .fixed-item {
        background-color: var(--colorPrimary);
        position: fixed;
        top: 3.6em;
        padding: 1em 0;
    }
    .infor_bus_router{
        max-height: 400px;
    }
    .utilities-contents{
        height: 300px;
        overflow-y: scroll;
    }
    .utilities-contents::-webkit-scrollbar {
        width: 5px;
        background-color: #cccccc;
        border-radius: 5px;
      
        
      }
      
      .utilities-contents::-webkit-scrollbar-thumb {
        background-color: var(--colorMain);
        border-radius: 5px;
      }
    .contents-items-choose{
        /* margin-top: 11.5em; */
      }

    .contents-items-choose h5{
        font-size: 1em;
    }
    .contents-items-choose .form-group label{
        font-size: 0.85em;
        
    }
    .location-container-tabs{
        height: 350px;
        overflow-y: scroll;
    }
    .location-container-tabs  .schedule-item-detail{
        padding-right: 0;
        padding-left: 5px;
    }
    .location-container-tabs::-webkit-scrollbar {
        width: 5px;
        background-color: #cccccc;
        border-radius: 5px;
      
        
      }
      
      .location-container-tabs::-webkit-scrollbar-thumb {
        background-color: var(--colorMain);
        border-radius: 5px;
      }
    .location-container-tabs .col-pick , .location-container-tabs .col-drop{
        width: 100%;
        flex: inherit;
    }
    .contents-items-choose span b{
        font-size: 0.8em;

    }
    .contents-items-choose .form-group .form-control {
        font-size: 0.85em;
    }
    .contents-items-choose .col-4{
        margin-top: -0.5em;
    }
    .steps-booking-contents .number-step{
        font-size: 11px;
        top: -1px;
    }
    .routes-bus-container.container{
        padding-top: 5px;
    }
    .routes-bus-container{
        top:3.7em;
    }
    .routes-bus-container .w-25 img{
        width: 100% !important;
    }
    .routes-bus-container h5 {
        font-size: 0.65em;
        display: -webkit-box;
        line-height: 1.3;
        -webkit-line-clamp: 1;  /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .routes-bus-container .date_go {
        font-size: 0.65em;
        
    }
   
    .contents-items-choose > .row >.col-md-8 {
        padding: 1em 0.5em;
    }
    .contents-items-choose .items-chair {
        margin-top: 1em !important;
    }
    .contents-items-choose .infor-bus-contents{
        padding: 0 0;
    }
    .steps-booking-contents .tabs-step{
        padding: 0 5px;
        font-size: 11px;
    }
    .items-FloorUp{
        margin-top: 1em;
    }
    .submit-checkbox .text{
        font-size: 0.8em;
    }
    .items-terms-notes h5 {
        font-size: 1em;
    }
    .items-terms-notes .mt-4{
        margin-top: 1em !important;
        font-size: 0.8em;
    }

    .infor_bus_router .row .items_infor_bus_router ul li{
        font-size: 0.8em;
    }
    .contents-items-choose .infor-bus-contents .card-body .row {
        font-size: 0.8em;
    }
    .infor_bus_router {
        max-height: 600px;
    }

}
@media only screen and (max-width:400px) {
    .infor_bus_router .row .items_infor_bus_router ul li{
        font-size: 0.7em;
    }

    .infor_bus_router h5{
        font-size: 0.9em;
    }
    .contents-items-choose{
        /* margin-top: 11.5em; */
      }
      .submit-checkbox .text {
        font-size: 0.7em;
    }
    .admin-contents .pagination li a {
  
        font-size: 12px;
        padding: 3px 5px  !important; 
    }
    /* .infor_bus_router {
        max-height: 680px;
    } */
    .utilities-contents .items-utilities {
        background-color: antiquewhite;
        padding: 5px;
        font-size: 12px;
}
.utilities-content.px-3{
    padding: 0 0.4em !important;
}
.comment-contents  .sum-star {
    font-size: 13px;
}
.comment-contents .items-cmt .col.px-3{
    padding: 5px 0 !important;
}
.comment-contents  .items-cmt .col-sm-6{
    width: 75%;
}
.comment-contents.px-4{
    padding: 0 5px !important;
}
.comment-contents   .items-cmt .col.text-end{
    font-size: 11px !important;
    width: 25%;
}
}
@media only screen and (max-width:340px) {
    .steps-booking-contents {
        font-size: 0.7em;
    }
    .steps-booking-contents .number-step {
        left: 7px;
        /* top: 0; */
    }
}
.andestop{
    display: none;
}
/* #controlled-tabs  .tab-content .fade.tab-pane.active.show .steps-booking-contents .contents-items-choose.items-choose .infor_bus_router{
    display: none;
} */
@media only screen and (max-width:768px) {
    .pickUp-dropOff-location-contents .form-group >div{
        display: block !important;
    }
    .mobile-datve{
        display: none;
    }
    .steps-booking-contents {
        width: 100%;
        z-index: 100;
        position: fixed;
        display: flex;
        flex: row 1;
        top: 5.8em;
    }
        .steps-booking-contents .nav-item{
        width: 25%;
        padding: 10px 0;
    }
    .steps-booking-contents .nav-item button{
        color: black;
        width: 100%;
        
}
.steps-booking-contents .nav-item .nav-link.active{
    color: white;
    background-color: transparent;
    border: none;
}
.infor_bus_router {
    top: 15em;
}
.andestop{
    display: block;
}
.andestop>.tab-content{
    margin-top: 12em;
}
}


@media only screen and (max-width:660px) {
    .steps-booking-contents {
        display: flex;
        top: 5em;
        flex:row;
    }
}
@media only screen and (max-width:560px) {
    .steps-booking-contents {
        top: 5.8em;
        display: flex;
        flex:row;
    }
}
@media only screen and (max-width:478px) {
    .steps-booking-contents {
        top: 6.5em;
        display: flex;
        flex:row;
    }
    .steps-booking-contents {
        font-size: 0.7em;
    }
    .steps-booking-contents .nav-item button{
        color: black;
        padding-left: 4px;
        padding-right: 4px;

        
}
.andestop>.tab-content {
    margin-top: 11.5em;
}
}
@media only screen and (max-width:400px) {
    .steps-booking-contents {
        top: 6em;
        display: flex;
        flex:row;
    }
}
@media only screen and (max-width:388px) {
    .andestop>.tab-content{
        margin-top: 11em;
    }
    .steps-booking-contents {
        top: 5.4em;
        display: flex;
        flex:row;
    }
}
@media only screen and (max-width: 335px){
.steps-booking-contents {
    top: 5.5em;
}}