
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}


/*---------------------------------------------*/
.forgot-password-container{

}
.forgot-password-container a {
  /* font-family: Poppins-Regular; */
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

.forgot-password-container  a:focus {
  outline: none !important;
}

.forgot-password-container  a:hover {
  text-decoration: none;
color: #6a7dfe;
color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
color: -o-linear-gradient(left, #21d4fd, #b721ff);
color: -moz-linear-gradient(left, #21d4fd, #b721ff);
color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
.forgot-password-container  h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

.forgot-password-container   p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.forgot-password-container  ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
.forgot-password-container  input {
  outline: none;
  border: none;
}


/*   
textarea:focus, input:focus {
border-color: transparent !important;
} */

.forgot-password-container  input:focus::-webkit-input-placeholder { color:transparent; }
.forgot-password-container  input:focus:-moz-placeholder { color:transparent; }
.forgot-password-container  input:focus::-moz-placeholder { color:transparent; }
.forgot-password-container  input:focus:-ms-input-placeholder { color:transparent; }


.forgot-password-container   input::-webkit-input-placeholder { color: #adadad;}
.forgot-password-container   input:-moz-placeholder { color: #adadad;}
.forgot-password-container   input::-moz-placeholder { color: #adadad;}
.forgot-password-container  input:-ms-input-placeholder { color: #adadad;}



/*---------------------------------------------*/
.forgot-password-container   button {
  outline: none !important;
  border: none;
  background: transparent;
}

.forgot-password-container   button:hover {
  cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.forgot-password-container  .txt1 {
font-family: Poppins-Regular;
font-size: 13px;
color: #666666;
line-height: 1.5;
}

.forgot-password-container  .txt2 {
font-family: Poppins-Regular;
font-size: 13px;
color: #333333;
line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter.forgot-password-container  {
width: 100%;
margin: 0 auto;
object-fit: cover;

background-size: cover;
background-position: center;
}

.forgot-password-container  .container-login100 {
width: 100%;  
min-height: 100vh;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 15px;
/* background: #ffffff;   */
}

.forgot-password-container  .wrap-login100 {
width: 450px;
backdrop-filter: blur(8px);
background-position: center right;
background-color: rgba(116, 116, 116, 0.2);
border-radius: 10px;
overflow: hidden;
padding: 40px 55px 33px 55px;

box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.forgot-password-container  .login100-form {
width: 100%;
}

.forgot-password-container   .login100-form-title {
display: block;
font-family: Poppins-Bold;

font-size: 23px;
color: white;
line-height: 1.2;
text-align: center;
}
.forgot-password-container   .login100-form-title img{
width: 11em;
margin: 1em 0;
}
.forgot-password-container   .login100-form-title i {
font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.forgot-password-container   .wrap-input100 {
width: 100%;
position: relative;
border-bottom: 2px solid #adadad;
margin-bottom: 37px;
}
.forgot-password-container .form-group label{
font-size: 17px;
color: #ffffff;
font-family: Poppins-Regular;

}
.forgot-password-container  .input100 {
font-family: Poppins-Regular;
font-size: 15px;
color: #ffffff;
line-height: 1.2;

display: block;
width: 100%;
height: 45px;
background: transparent;
padding: 0 5px;
border-bottom: 1px solid gainsboro !important ;
}

/*---------------------------------------------*/ 

.forgot-password-container .form-group{
position: relative;
margin: 1em 0;
}
/*---------------------------------------------*/
.forgot-password-container .btn-show-pass {
font-size: 15px;
color: #999999;
display: flex;
align-items: flex-end;
position: absolute;
/* height: 100%; */
/* top: 0; */
bottom: 14px;
right: 0;
padding-right: 5px;
cursor: pointer;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.forgot-password-container  .btn-show-pass:hover {
color: #6a7dfe;
color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
color: -o-linear-gradient(left, #21d4fd, #b721ff);
color: -moz-linear-gradient(left, #21d4fd, #b721ff);
color: linear-gradient(left, #21d4fd, #b721ff);
}

.forgot-password-container  .btn-show-pass.active {
color: #6a7dfe;
color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
color: -o-linear-gradient(left, #21d4fd, #b721ff);
color: -moz-linear-gradient(left, #21d4fd, #b721ff);
color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.forgot-password-container .container-login100-form-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 30px;
}

.forgot-password-container  .wrap-login100-form-btn {
width: 100%;
display: block;
position: relative;
z-index: 1;
border-radius: 25px;
overflow: hidden;
margin: 0 auto;
}

.forgot-password-container  .login100-form-bgbtn {
position: absolute;
z-index: -1;
width: 300%;
height: 100%;
background: #E63946;
background-image: linear-gradient(to right, #a35e29 , #E63946, #e32030);
top: 0;
left: -100%;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.forgot-password-container .login100-form-btn {
font-family: Poppins-Medium;
font-size: 15px;
color: #fff;
line-height: 1.2;
text-transform: uppercase;

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
width: 100%;
height: 50px;
}

.forgot-password-container .wrap-login100-form-btn:hover .login100-form-bgbtn {
left: 0;
}
/* cập nhật thông tin */

.updateInfor-container .h5-inf{
font-weight: 800;
color: rgb(0, 0, 0);
text-align: center;
margin-bottom: 40px;
}
.updateInfor-container form {
width: 90%;
margin: 0 auto;
}
.updateInfor-container .form-group{
margin-bottom: 15px ;
}
.updateInfor-container .form-group .form-control{
font-size: 15px;
color: #000000;
line-height: 1.2;
display: block;
width: 100%;
/* height: 45px; */
border: none;
background: transparent;
padding: 9px 10px;
border: 1px solid gainsboro !important;
}

.updateInfor-container .form-group .form-control.disabled{
background-color: #d3d3d3;
}

.updateInfor-container .img-updateinf{
text-align: center;

}
.updateInfor-container .img-user{
width: 80%;
margin: 0 auto;
}

.updateInfor-container .img-updateinf img{
height: 200px;
width: 200px;
object-fit: cover;

}
.updateInfor-container .button{
padding: 9px 40px;
border-radius: 5px;
font-weight: 700;
color: white;
background-color: var(--colorMain);
outline: none;
border: none;
}
.booking__history .form-control{
  display: inline;
  float: right;
}
.updateInfor-container .pagination .next a ,.updateInfor-container .pagination .previous a{
  background-color: white;
  color: #211B30;
  font-size: 16px;
}
.updateInfor-container .pagination li a{
  font-size: 15px;
  padding: 8px 15px;
  background-color: #dcdcdc;
  border-radius: 50%;
}
.updateInfor-container .pagination li{
  padding: 0;
  background-color: transparent;
}
.updateInfor-container .pagination li.active a{
  background-color: #211B30;
  color: white;
}
.updateInfor-container .pagination-contents{
  margin-top: 1.5em;
}
.updateInfor-container .buttons .button.disabled{
  background-color: #d3d3d3 !important;
  }
.updateInfor-container .button:hover{
transition: all 0.1s ease;
box-shadow: 0 0 0 0.1rem var(--colorMain);
}
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
.forgot-password-container   .wrap-login100 {
  padding: 77px 15px 33px 15px;
}
}

/* lịch sử đặt vé */
.booking__history{
color: #000000;
font-weight: 700;
/* border: 1px solid; */
margin-top: 4%;
font-size: 20px;
}
.booking__history__container{
display: flex;
margin-top: 4%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
border-radius: 10px;
height: auto;
}
.booking__history__container .left__container{
margin-left: 5%;
margin-top: 2%;
margin-bottom: 2%;
width: 50%;

}
.booking__history__container .right__container{
margin-left: 10%;
/* margin-bottom: 3%; */
width: 30%;
}
.left__container .footer__left{
display: flex;
}
.booking__history__container .start, .middle, .end{
width: 35%;
text-align: center;
margin-top: 5%;
}
.booking__history__container .buttons{
width: 20%;
margin-bottom: 2%;
margin-right: 2%;
}
.booking__history__container .cancel{
width: 100%; 
margin-bottom: 2%;
}
.booking__history__container .assess{
width: 100%
}

.star-content-icon .col{
width: 20%;
}
.updateInfor-container.container{

    max-width: 1460px;
}
.booking__history__container .buttons .button{
  width: 100%;
  padding: 9px 10px;
}
.booking__history__container .buttons .button:first-child{
  margin-bottom: 10px;

}
/* responsive */
@media only screen and (max-width: 1200px){
.right__container{
margin-left: 5%;
}
.end{
bottom: 125%;
}
.assess, .cancel{
font-size: small;
}
.booking__history__container .right__container {
  margin-left: 5%;
}
}
@media only screen and (max-width: 992px){
.end{
bottom: 121%;
}
.booking__history__container{
  flex-wrap: wrap;
}
.booking__history__container .left__container {
  /* margin-left: 5%; */

  width: 50%;
}
.booking__history__container .right__container {
  width: 40%;
}
.booking__history__container .buttons {
  text-align: end;
  width: 100%;
}
.booking__history__container .buttons .button{
  width: 25%;
  margin: 0 10px;
}
}
@media only screen and (max-width: 768px){
.booking__history__container{
flex-wrap: wrap;
}
.booking__history__container .right__container{
width: 40%;
}

.booking__history__container .button{
/* display: flex;
width: 60%;
margin: 0 auto;
text-align: center;
margin-bottom: 2%; */
}
.booking__history__container .buttons .buton:last-child{
  margin-bottom: 0px;

}
}
@media only screen and (max-width: 568px){
  .booking__history__container .buttons .button{
    width: 40%;
    margin: 0 10px;
  }
.booking__history__container{
flex-wrap: wrap;
height: auto;
text-align: center;
align-items: center;
}
.booking__history__container .left__container{
width: 100%;
margin-left: 0%;
}
.booking__history__container .right__container{
width: 100%;
margin-left: 0%;
}

.updateInfor-container .pagination li a {
  font-size: 13px;
  padding: 8px 11px;
}
/* .right__container>p{
text-align: center;
} */
}
@media only screen and (max-width: 400px){
.end{
bottom: 100%;
}
.booking__history__container .buttons .button{
  width: 40%;
  font-size: 14px;
  padding: 9px 5px;
}
.updateInfor-container .pagination li a {
  font-size: 12px;
  padding: 8px 6px;
}
}







